.table-red-color {
    background: #fe3a0f;
    color: #ffffff;
    padding: 15px 15px;
    width: 20%;
    font-size: 13px;
}
.table-color-blue-1 {
    background: #1a5798;
    color: #ffffff;
    padding: 15px 15px;
    width: 20%;
    font-size: 13px;
}
.table-color-blue-2 {
    background: #2565a9;
    color: #ffffff;
    padding: 15px 15px;
    width: 20%;
    font-size: 13px;
}
.table-color-blue-3 {
    background: #3778bd;
    color: #ffffff;
    padding: 15px 15px;
    width: 20%;
    font-size: 13px;
}
.table-color-blue-4 {
    background: #4c8ed4;
    color: #ffffff;
    padding: 15px 15px;
    width: 20%;
    font-size: 13px;
}
.table-color-blue-5 {
    background: #679bd2;
    color: #ffffff;
    padding: 15px 15px;
    width: 20%;
    font-size: 13px;
}